<div data-ng-init="getAllNotes()"  style="background-color: #e8e8e8;height: 200%;" id="archiveTrash" >

<div style="margin-top: 35px;" flex-offset="15">
     <md-content  style="max-width: 800px;background-color: #e8e8e8;padding-top: 50px;margin-left: 180px;" layout="row" ng-cloak layout-xs="column" layout-wrap layout-align-gt-md="start center" layout-align-md="space-around center" layout-align-sm="space-around center" >
        <md-card ng-mouseover="enableEdit(note)"  ng-mouseleave="disableEdit(note)" style="width: 250px;background-color:{{note.color}}"  ng-repeat="note in note_info | filter:{archived:true,trashed:false,pined:false} as noteArray">
            <md-card-title>
                <md-card-title-text>
                    <div class="md-headline">{{note.title}} </div>
                </md-card-title-text>
                <md-button class="md-icon-button" ng-click="isPinnedNote(note);">
                    <md-icon style="width: 5px;height: 5px;"  md-svg-icon="asset/pin.svg" ></md-icon>
                </md-button>
            </md-card-title>
            <md-card-content class="center">
                <p>{{note.description}}</p>
            </md-card-content>
            <div  layout="row" style="height: 50px;" layout-align="space-around center">
                <noteicon></noteicon>
            </div>
        </md-card>
</div>

    <div layout="column"  ng-if="noteArray==0" layout-align="center center" layout-xs="colum">
        <div layout="column" class="dashboard">
            <img src="asset/archive.svg" class="mid-logo" alt="dataNotFound">
        </div>
        <span class="mid-logo-text"><strong>Notes you add appear here</strong></span>
    </div>

</div>