<md-dialog aria-label="collabotor">
    <md-dialog-content>
        <div class="md-dialog-content">
        <div layout="row"  class="collaborator-header md-no-sticky md-dialog"  layout-align="top center">
            Collaborators
        </div>
        <br>
        <md-divider></md-divider>
        <md-content>
            <md-list>
                <md-list-item class="md-2-line">
                    <div layout="row" class="">
                        <div class="profile"><img  style="width: 40px;height: 72px;" ng-src="{{note.user.profilePic}}" /></div>
                         <div class="md-list-item-text" style="margin-left: 10px;" layout="column">
                            <h4> {{note.user.firstName}} {{note.user.lastName}}(Owner)</h4>
                            <h4> {{note.user.email}}</h4>
                        </div>
                    </div>
                </md-list-item>


                <md-list-item  ng-repeat="user in getCollaboratorUsers" class="md-2-line">
                    <div layout="row" style="width: 400px;">
                        <div class="profile"><img  style="width: 40px;height: 72px;" ng-src="{{user.profilePic}}" /></div>
                         <div class="md-list-item-text" style="margin-left: 10px;" layout="column">
                            <h4> {{user.firstName}} {{user.lastName}}</h4>
                            <h4> {{user.email}}</h4>
                        </div>
                    </div>
                    <div layout="row" layout-align="end end">
                        <md-button  class="md-icon-button" ng-click="removeCollaboratoronNote(user)"><md-icon style="margin:2px 0px 0px 5px;"><i class="material-icons">close</i></md-icon></md-button>
                    </div>
                </md-list-item>

                <md-list-item class="md-2-line">
                    <div layout="row" class="sidebar-text">
                        <div style="height: 35px;width: 35px;border: 1px solid rgba(0, 0, 0, 0.87);border-radius: 50%">
                            <md-icon style="margin:2px 0px 0px 5px;"><i class="material-icons">person_add</i></md-icon>
                        </div>
                        <div>
                            <md-input-container md-no-float style="margin: 0px auto;padding: 0px;">
                                <md-select style="outline:none;border:none;background-color: white;width: 355px;" type="text" placeholder="Person or email to share with"
                                    aria-label="Person or email to share with" ng-model="email"
                                        role="combobox" aria-autocomplete="list"
                                    aria-haspopup="false" aria-expanded="false">
                                    <md-option ng-repeat="email in (getUsers | myFilter:getCollaboratorUsers)" ng-value="email">{{email[0]}}</md-option>
                            </md-input-container>
                            <md-button class="md-icon-button" ng-click="addCollaboratorOnNote(email)"><md-icon style="margin:2px 0px 0px 5px;"><i class="material-icons">done</i></md-icon></md-button>
                        </div>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>

        <div layout="row" layout-align="end end"  class="take-note-div3">
            <md-button aria-label="close Button" class="take-note-button"  ng-click="cancel()">
                <strong>Close</strong>
            </md-button>
            <md-button aria-label="save Button" class="take-note-button"  ng-click="addCollaboratorOnNote(email)">
                <strong>Save</strong>
            </md-button>
        </div>
        </div>
    </md-dialog-content>
</md-dialog>

