
<div data-ng-init="getAllNotes()"  style="background-color: #e8e8e8;height: 100%" id="dashboard">
    <div class="dashboard" layout="row"  layout-xs="column" layout-align="center center">


        <md-card class="md-whiteframe-z2" id="take-note-card"   layout="row" layout-align="top center" ng-show="!showCard">
            <md-card-header>
                <md-card-header-text>
                    <md-input-container class="take-note-input" md-no-float>
                        <input type="text"  style="border: none;margin-top: 22px;"   ng-click="showCard=true"  placeholder="Take a note...">
                    </md-input-container>
                </md-card-header-text>
            </md-card-header>
            <div layout="row">
                <md-button class="md-icon-button md-icon-float"><md-icon><i class="material-icons">list</i></md-icon></md-button>
                <md-button class="md-icon-button md-icon-float"><md-icon><i class="material-icons">insert_photo</i></md-icon></md-button>
                <md-button class="md-icon-button md-icon-float"><md-icon><i class="material-icons not-allowed">edit</i></md-icon></md-button>
            </div>
        </md-card>


        <md-card  class="md-whiteframe-z2 take-note-show-card" style="background-color:{{noteModel.color}}" ng-show="showCard">

            <div layout="row"  class="take-note-div1"  layout-align="top center">
                <md-input-container style="width:550px;" md-no-float>
                    <input type="text"  style="border: none;margin: 30px 0 0 5px;"   ng-model="noteModel.title" placeholder="Title">
                </md-input-container>
                <span flex></span>
               <md-button class="md-icon-button">
                <md-icon md-svg-icon="asset/pin.svg" ngStyle="noteModel.isPinned ? {color:gray}:{color:currentColor}"></md-icon>
               </md-button>

            </div>
            <div layout="row" class="take-note-div2"  layout-align="top center">
                <md-input-container style="width: 580px" md-no-float>
                    <input type="text" placeholder="Take a note..."  ng-model="noteModel.description" style="border:none;margin: 25px 0 0 5px;"  />
                </md-input-container>
            </div>

            <div layout="row" layout-align="space-between end"  class="take-note-div3">
                <takenoteicon></takenoteicon>
                <md-button class="take-note-button"  ng-click="showCard=false;addNote(noteModel);loadPage();">
                    <strong>Close</strong>
                </md-button>
            </div>

        </md-card>



    </div>

    <div  style="margin-top: 35px;"   flex-offset="15" >
        <md-content   ng-show="showNote" ng-switch="note.editable"  style="max-width: 800px;background-color: #e8e8e8" layout="row" ng-cloak layout-xs="column" layout-wrap layout-align-gt-md="start center" layout-align-md="space-around center" layout-align-sm="space-around center" >
        <md-card ng-mouseover="enableEdit(note)" ng-click='showDialog($event,note);disableCart(note)' ng-mouseleave="disableEdit(note)" style="width: 250px;background-color:{{note.color}}"  ng-repeat="note in note_info | filter:{pined:false} | filter:{trashed:false} | filter:{archived:false}">
            <md-card-title>
                <md-card-title-text>
                    <div class="md-headline">{{note.title}} </div>
                </md-card-title-text>
                <md-icon style="width: 5px;height: 5px;" md-svg-icon="asset/pin.svg"></md-icon>

            </md-card-title>
            <md-card-content class="center">
                <p>{{note.description}}</p>
            </md-card-content>
            <div  layout="row" layout-align="space-around center">
              <noteicon></noteicon>
            </div>
        </md-card>
    </div>

    <div layout="column"  ng-show="showLogo"   layout-align="center center" layout-xs="colum">
        <div layout="column" class="dashboard">
            <img src="asset/download.svg" class="mid-logo" alt="dataNotFound">
        </div>
        <span class="mid-logo-text"><strong>Notes you add appear here</strong></span>
    </div>



    <div  style="margin-top: 35px;"   flex-offset="15" >
        <md-subheader class="md-primary">Pinned</md-subheader>
        <md-content   ng-show="showPinnedNote" ng-switch="note.editable"  style="max-width: 800px;background-color: #e8e8e8" layout="row" ng-cloak layout-xs="column" layout-wrap layout-align-gt-md="start center" layout-align-md="space-around center" layout-align-sm="space-around center" >
            <md-card ng-mouseover="enableEdit(note)" ng-click='showDialog($event,note);disableCart(note)' ng-mouseleave="disableEdit(note)" style="width: 250px;background-color:{{note.color}}"  ng-repeat="note in note_info | filter:{pined:true}">
                <md-card-title>
                    <md-card-title-text>
                        <div class="md-headline">{{note.title}} </div>
                    </md-card-title-text>
                    <md-icon style="width: 5px;height: 5px;" md-svg-icon="asset/pin.svg"></md-icon>

                </md-card-title>
                <md-card-content class="center">
                    <p>{{note.description}}</p>
                </md-card-content>
                <div  layout="row" layout-align="space-around center">
                    <noteicon></noteicon>
                </div>
            </md-card>
    </div>

    <div layout="column"  ng-show="showLogo"   layout-align="center center" layout-xs="colum">
        <div layout="column" class="dashboard">
            <img src="asset/download.svg" class="mid-logo" alt="dataNotFound">
        </div>
        <span class="mid-logo-text"><strong>Notes you add appear here</strong></span>
    </div>


</div>