<div data-ng-init="getAllNotes()"  style="background-color: #e8e8e8;height: 400%" id="dashboard">
    <div class="dashboard" layout="row"  layout-xs="column" layout-align="center center">


        <md-card class="md-whiteframe-z2" id="take-note-card"  layout="row" layout-align="top center" ng-show="!showCard">
            <md-card-header>
                <md-card-header-text>
                    <md-input-container class="take-note-input" md-no-float>
                        <input type="text"  style="border: none;margin-top: 22px;"   ng-click="showCard=true"  placeholder="Take a note...">
                    </md-input-container>
                </md-card-header-text>
            </md-card-header>
            <div layout="row">
                <md-button class="md-icon-button md-icon-float"><md-icon><i class="material-icons">list</i></md-icon></md-button>
                <md-button class="md-icon-button md-icon-float"><md-icon><i class="material-icons">insert_photo</i></md-icon></md-button>
                <md-button class="md-icon-button md-icon-float"><md-icon><i class="material-icons not-allowed">edit</i></md-icon></md-button>
            </div>
        </md-card>


        <md-card  class="md-whiteframe-z2 take-note-show-card md-padding" style="background-color:{{noteModel.color}};" ng-show="showCard">

            <div layout="row"  class="take-note-div1"  layout-align="top center">
                <div ng-model="noteModel.title" class="title take-note-div1" placeholder="Title" contenteditable="true" only-text="true" convert-new-lines="true"></div>
                <span flex></span>
                <md-button aria-label="Pined Button"  ng-show="changeSvg1" class="md-icon-button" ng-click="changeInitialPined(noteModel.isPined)">
                    <md-icon   md-svg-icon="asset/pin.svg" ></md-icon>
                </md-button>
                <md-button aria-label="Pined Button" ng-show="changeSvg2" class="md-icon-button" ng-click="changeInitialPined(noteModel.isPined)">
                    <md-icon   md-svg-icon="asset/bluePin.svg" ></md-icon>
                </md-button>
            </div>
            <div layout="row" class="take-note-div2"  layout-align="top center">
                <div ng-model="noteModel.description" class="description take-note-div2" placeholder="Take a note..."  contenteditable="true" only-text="true" convert-new-lines="true">
                </div>
            </div>

            <div layout="row" ng-repeat="note in note_info" layout-wrap layout-align="start space-around">
                <md-chips  ng-mouseover="enableEdit(label)"  ng-mouseleave="disableEdit(label)" ng-repeat="label in note.listOfLabels">
                    <md-chip  style="margin:0px auto;padding: 0px;"><button ng-click="sendToLabel(label,$event)" style="border:none;outline:none;border-radius: 50px;margin-left: 5px;">{{pathParam}}</button><md-button ng-show="label.editable" class="md-icon-button" ng-click="removeLabel(label,note,$event)"  style="margin: 0px auto;padding: 0px;"><md-icon><i class="material-icons">close</i></md-icon></md-button></md-chip>
                </md-chips>
            </div>

            <div layout="row" layout-align="space-between end"  class="take-note-div3">
                <takenoteicon></takenoteicon>
                <md-button aria-label="Close Button" class="take-note-button"  ng-click="showCard=false;changeSvg2=false;changeSvg1=true;addNote(noteModel);initializeNote()">
                    <strong>Close</strong>
                </md-button>
            </div>

        </md-card>
    </div>



    <md-card  class="md-whiteframe-z2 collaborator md-padding" ng-show="showCollaboators">

        <div layout="row"  class="collaborator-header md-no-sticky"  layout-align="top center">
            Collaborators
        </div>
        <br>
        <md-divider></md-divider>

        <md-content>
            <md-list>
                <md-list-item class="md-2-line">
                    <div layout="row" class="sidebar-text">
                        <img src="asset/profile.jpg" class="profile">
                        <div class="md-list-item-text" style="margin-left: 10px;" layout="column">
                            <h4> Rakesh Soni(Owner)</h4>
                            <h4> baberwalrakesh@yahoo.com </h4>
                        </div>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <div layout="row" class="sidebar-text">
                        <div style="height: 35px;width: 35px;border: 1px solid rgba(0, 0, 0, 0.87);border-radius: 50%">
                            <md-icon style="margin:2px 0px 0px 5px;"><i class="material-icons">person_add</i></md-icon>
                        </div>

                        <div class="md-list-item-text" style="margin-left: 10px;" layout="column">
                            <md-input-container md-no-float="" style="margin: 0px auto;padding: 0px 0px;">
                                <input type="text" placeholder="Person or email to share with" style="border: none;width: 450px;">
                            </md-input-container>
                        </div>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>

        <div layout="row" layout-align="end end"  class="take-note-div3">
            <md-button aria-label="close Button" class="take-note-button"  ng-click="showCollaboators=false;">
                <strong>Close</strong>
            </md-button>
            <md-button aria-label="save Button" class="take-note-button"  ng-click="">
                <strong>Save</strong>
            </md-button>
        </div>

    </md-card>

    <div ng-if="showPinedNote"  style="margin-top: 35px;" flex-offset="15">
        <md-subheader  style="background-color: #e8e8e8;margin-left: 90px;">Pinned</md-subheader>
        <md-content  style="max-width: 800px;background-color: #e8e8e8;margin-left: 100px;overflow: hidden;" layout="row"  ng-cloak layout-xs="column" layout-wrap layout-align-gt-md="start center" layout-align-md="space-around center" layout-align-sm="space-around center" >
             <div ng-repeat="note in note_info | filter:{pined:true,trashed:false,archived:false}">
                 <md-card ng-if="label.labelName==pathParam" ng-repeat="label in note.listOfLabels" ng-click="showDialog($event,note)" ng-mouseover="enableEdit(note)" class="card"  ng-mouseleave="disableEdit(note)" style="width: 250px;background-color:{{note.color}};">
                     <div class="container">
                         <img  ng-src="{{note.imageUrl}}"  class="md-card-image">
                         <md-button class="md-icon-button btn"  ng-if="note.imageUrl!==null && note.pined===false" ng-click="isPinnedNote(note);">
                             <md-icon style="width: 5px;height: 5px;"  md-svg-icon="asset/pin.svg" ></md-icon>
                         </md-button>
                         <md-button aria-label="Pined Button" ng-if="note.imageUrl!==null && note.pined===true" class="md-icon-button btn" ng-click="isPinnedNote(note);">
                             <md-icon   md-svg-icon="asset/bluePin.svg" ></md-icon>
                         </md-button>
                     </div>

                     <md-card-title>
                         <md-card-title-text>
                             <div style="white-space: pre-wrap;word-wrap: break-word;" class="md-headline">{{note.title}} </div>
                         </md-card-title-text>
                         <md-button class="md-icon-button" ng-if="note.imageUrl===null && note.pined===false" ng-click="isPinnedNote(note);">
                             <md-icon style="width: 5px;height: 5px;"  md-svg-icon="asset/pin.svg" ></md-icon>
                         </md-button>
                         <md-button aria-label="Pined Button" ng-if="note.imageUrl===null && note.pined===true" class="md-icon-button" ng-click="isPinnedNote(note);">
                             <md-icon md-svg-icon="asset/bluePin.svg" ></md-icon>
                         </md-button>
                     </md-card-title>
                     <md-card-content class="center">
                         <p style="white-space: pre-wrap;word-wrap: break-word">{{note.description}}</p>
                     </md-card-content>

                     <div layout="row" layout-wrap layout-align="start space-around">
                         <md-chips style="background-color: rgba(0,0,0,0.08);border-radius: 2px;opacity:.54;" ng-mouseover="enableEdit(note)"  ng-mouseleave="disableEdit(note)">
                             <md-chip style="margin: 0px auto;padding: 0px;">
                                 <span style="margin-left: 5px;">{{note.reminderDate | date : 'MMM dd,HH:mm a'}}</span>
                                 <md-button  ng-show="note.reminder && note.reminderDate!==null"  class="md-icon-button" ng-click="removeReminder(note,$event)" style="margin: 0px auto;padding: 0px;"><md-icon><i class="material-icons">close</i></md-icon></md-button>
                             </md-chip>
                         </md-chips>

                         <md-chips  ng-mouseover="enableEdit(label)"  ng-mouseleave="disableEdit(label)" ng-repeat="label in note.listOfLabels">
                             <md-chip  style="margin:0px auto;padding: 0px;"><button ng-click="sendToLabel(label,$event)" style="border:none;outline:none;border-radius: 50px;margin-left: 5px;">{{label.labelName}}</button><md-button ng-show="label.editable" class="md-icon-button" ng-click="removeLabel(label,note,$event)"  style="margin: 0px auto;padding: 0px;"><md-icon><i class="material-icons">close</i></md-icon></md-button></md-chip>
                         </md-chips>
                     </div>

                     <div layout="row" style="height: 50px;" layout-align="space-around center">
                         <noteicon></noteicon>
                     </div>
                 </md-card>
            </div>
        </md-content>
    </div>

    <div style="margin-top: 35px;" flex-offset="15">
        <md-subheader ng-if="note.pined===false && note.archived===false && note.trashed===false;" style="background-color: #e8e8e8;margin-left: 90px;">Other</md-subheader>
        <md-content  ng-show="showNote"  style="max-width: 800px;background-color: #e8e8e8;margin-left: 100px;overflow: hidden;" layout="row" ng-cloak layout-xs="column" layout-wrap layout-align-gt-md="start center" layout-align-md="space-around center" layout-align-sm="space-around center">
            <div ng-repeat="note in note_info | filter:{pined:false,trashed:false,archived:false} | orderBy: 'note.id':true">
                <md-card ng-if="label.labelName==pathParam" ng-repeat="label in note.listOfLabels" ng-click="showDialog($event,note)" ng-mouseover="enableEdit(note)" class="card" ng-mouseleave="disableEdit(note)" style="width: 250px;background-color:{{note.color}}">

                    <div class="container">
                        <img  ng-src="{{note.imageUrl}}"  class="md-card-image">
                        <md-button class="md-icon-button btn"  ng-if="note.imageUrl!==null && note.pined===false" ng-click="isPinnedNote(note);">
                            <md-icon style="width: 5px;height: 5px;"  md-svg-icon="asset/pin.svg" ></md-icon>
                        </md-button>
                        <md-button aria-label="Pined Button" ng-if="note.imageUrl!==null && note.pined===true" class="md-icon-button btn" ng-click="isPinnedNote(note);">
                            <md-icon   md-svg-icon="asset/bluePin.svg" ></md-icon>
                        </md-button>
                    </div>

                    <md-card-title>
                        <md-card-title-text>
                            <div style="white-space: pre-wrap;word-wrap: break-word;" class="md-headline">{{note.title}} </div>
                        </md-card-title-text>
                        <md-button class="md-icon-button" ng-if="note.imageUrl===null && note.pined===false"  ng-click="isPinnedNote(note);">
                            <md-icon style="width: 5px;height: 5px;"  md-svg-icon="asset/pin.svg" ></md-icon>
                        </md-button>
                    </md-card-title>
                    <md-card-content class="center">
                        <p style="white-space: pre-wrap;word-wrap: break-word">{{note.description}}</p>
                    </md-card-content>
                    <div  layout="row" layout-wrap layout-align="start space-around">
                        <md-chips style="background-color: rgba(0,0,0,0.08);border-radius: 2px;opacity:.54;" ng-mouseover="enableEdit(note)"  ng-mouseleave="disableEdit(note)">
                            <md-chip style="margin: 0px auto;padding: 0px;"><span style="margin-left: 5px;">{{note.reminderDate | date : 'MMM dd,HH:mm a'}}</span><md-button  ng-show="note.reminder && note.reminderDate!==null"  class="md-icon-button" ng-click="removeReminder(note,$event)" style="margin: 0px auto;padding: 0px;"><md-icon><i class="material-icons">close</i></md-icon></md-button ></md-chip>
                        </md-chips>

                        <md-chips  ng-mouseover="enableEdit(label)"  ng-mouseleave="disableEdit(label)" ng-repeat="label in note.listOfLabels">
                            <md-chip  style="margin:0px auto;padding: 0px;"><button ng-click="sendToLabel(label,$event)" style="border:none;outline:none;border-radius: 50px;margin-left: 5px;">{{label.labelName}}</button><md-button ng-show="label.editable" class="md-icon-button" ng-click="removeLabel(label,note,$event)"  style="margin: 0px auto;padding: 0px;"><md-icon><i class="material-icons">close</i></md-icon></md-button></md-chip>
                        </md-chips>
                    </div>
                    <div  layout="row" style="height: 50px;" layout-align="space-around center">
                        <noteicon></noteicon>
                    </div>
                </md-card>
            </div>
        </md-content>
    </div>

    {{showPinedNote}}
    {{showOtherNote}}
    {{showArchivedNote}}
    {{showLabel}}

    <div ng-if="showArchivedNote" style="margin-top: 35px;" flex-offset="15">
        <md-subheader  style="background-color: #e8e8e8;margin-left: 90px;">Archive</md-subheader>
        <md-content  style="max-width: 800px;background-color: #e8e8e8;margin-left: 100px;overflow: hidden;" layout="row"  ng-cloak layout-xs="column" layout-wrap layout-align-gt-md="start center" layout-align-md="space-around center" layout-align-sm="space-around center" >
            <div ng-repeat="note in note_info | filter:{pined:false,trashed:false,archived:true}">
                <md-card ng-if="label.labelName==pathParam" ng-repeat="label in note.listOfLabels as labelArray" ng-click="showDialog($event,note)" ng-mouseover="enableEdit(note)" class="card"  ng-mouseleave="disableEdit(note)" style="width: 250px;background-color:{{note.color}};">
                    <div class="container">
                        <img  ng-src="{{note.imageUrl}}"  class="md-card-image">
                        <md-button class="md-icon-button btn"  ng-if="note.imageUrl!==null && note.pined===false" ng-click="isPinnedNote(note);">
                            <md-icon style="width: 5px;height: 5px;"  md-svg-icon="asset/pin.svg" ></md-icon>
                        </md-button>
                        <md-button aria-label="Pined Button" ng-if="note.imageUrl!==null && note.pined===true" class="md-icon-button btn" ng-click="isPinnedNote(note);">
                            <md-icon   md-svg-icon="asset/bluePin.svg" ></md-icon>
                        </md-button>
                    </div>

                    <md-card-title>
                        <md-card-title-text>
                            <div style="white-space: pre-wrap;word-wrap: break-word;" class="md-headline">{{note.title}} </div>
                        </md-card-title-text>
                        <md-button class="md-icon-button" ng-if="note.imageUrl===null && note.pined===false" ng-click="isPinnedNote(note);">
                            <md-icon style="width: 5px;height: 5px;"  md-svg-icon="asset/pin.svg" ></md-icon>
                        </md-button>
                        <md-button aria-label="Pined Button" ng-if="note.imageUrl===null && note.pined===true" class="md-icon-button" ng-click="isPinnedNote(note);">
                            <md-icon   md-svg-icon="asset/bluePin.svg" ></md-icon>
                        </md-button>
                    </md-card-title>
                    <md-card-content class="center">
                        <p style="white-space: pre-wrap;word-wrap: break-word">{{note.description}}</p>
                    </md-card-content>

                    <div layout="row" layout-wrap layout-align="start space-around">
                        <md-chips style="background-color: rgba(0,0,0,0.08);border-radius: 2px;opacity:.54;" ng-mouseover="enableEdit(note)"  ng-mouseleave="disableEdit(note)">
                            <md-chip style="margin: 0px auto;padding: 0px;">
                                <span style="margin-left: 5px;">{{note.reminderDate | date : 'MMM dd,HH:mm a'}}</span>
                                <md-button  ng-show="note.reminder && note.reminderDate!==null"  class="md-icon-button" ng-click="removeReminder(note,$event)" style="margin: 0px auto;padding: 0px;"><md-icon><i class="material-icons">close</i></md-icon></md-button>
                            </md-chip>
                        </md-chips>

                        <md-chips  ng-mouseover="enableEdit(label)"  ng-mouseleave="disableEdit(label)" ng-repeat="label in note.listOfLabels">
                            <md-chip  style="margin:0px auto;padding: 0px;"><button ng-click="sendToLabel(label,$event)" style="border:none;outline:none;border-radius: 50px;margin-left: 5px;">{{label.labelName}}</button><md-button ng-show="label.editable" class="md-icon-button" ng-click="removeLabel(label,note,$event)"  style="margin: 0px auto;padding: 0px;"><md-icon><i class="material-icons">close</i></md-icon></md-button></md-chip>
                        </md-chips>
                    </div>

                    <div layout="row" style="height: 50px;" layout-align="space-around center">
                        <noteicon></noteicon>
                    </div>
                </md-card>
            </div>
        </md-content>
    </div>




    <div layout="column"  ng-if="showLabel" layout-align="center center" layout-xs="colum">
         <div layout="column" class="dashboard">
            <img src="asset/label.svg" style="color: #e8e8e8;opacity:.2;height: 120px;width: 120px;" alt="dataNotFound">
         </div>
         <span class="mid-logo-text"><strong>No notes with this label yet</strong></span>
    </div>

</div>








