<md-button class="md-icon-button">
    <md-icon><i class="material-icons">touch_app</i></md-icon>
    <md-tooltip>Remind Me</md-tooltip>
</md-button>

<md-button class="md-icon-button">
    <md-icon><i class="material-icons">person_add</i></md-icon>
    <md-tooltip>Collaboators</md-tooltip>
</md-button>

<md-button class="md-icon-button">
    <md-icon><i class="material-icons">palette</i></md-icon>
    <md-tooltip>Colours</md-tooltip>
</md-button>

<label>
    <md-icon><i class="material-icons">image</i></md-icon>
    <md-tooltip>Add image</md-tooltip>
</label>

<md-button class="md-icon-button">
    <md-icon><i class="material-icons">archive</i></md-icon>
    <md-tooltip>Archive</md-tooltip>
</md-button>

<md-button class="md-icon-button">
    <md-icon><i class="material-icons">more_vert</i></md-icon>
    <md-tooltip>More</md-tooltip>
</md-button>

<md-button class="md-icon-button ng-disabled='true'">
    <md-icon><i class="material-icons ">undo</i></md-icon>
    <md-tooltip>undo</md-tooltip>
</md-button>

<md-button class="md-icon-button">
    <md-icon><i class="material-icons">redo</i></md-icon>
    <md-tooltip>Redo</md-tooltip>
</md-button>