<div ng-show="note.editable" layout="row" layout-align="space-between end">

    <md-menu>
        <md-button aria-label="Remind Me" class="md-icon-button" style="margin: 0 auto;padding: 0px" ng-click="openMenu($mdMenu,$event);">
            <md-icon><i class="material-icons">touch_app</i></md-icon>
        </md-button>
        <md-menu-content width="4">
            <md-subheader><strong>Reminder :</strong></md-subheader>
            <md-menu-item ng-repeat="item in reminders">
                <md-button ng-click="reminderAction(note,info.name)" md-prevent-menu-close="md-prevent-menu-close" ng-repeat="info in item">
                    <div layout="row" flex>
                        <p flex>{{info.name}}</p>
                        <p>{{info.value}}</p>
                    </div>
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-menu>
                    <md-button class="md-button"  ng-click="openMenu($mdMenu,$event);" md-prevent-menu-close="md-prevent-menu-close" style="background-color: #e8e8e8;margin: 0px auto;padding: 0px;">
                        <md-icon><i class="material-icons">access_time</i></md-icon>
                        Pick date & time
                    </md-button>
                    <md-menu-content  style="height: 200px;overflow: hidden;">
                        <md-subheader class="reminder-text">Pick date & time</md-subheader>
                        <md-divider></md-divider><br>
                        <md-menu-item>
                             <md-input-container>
                                 <label>Enter Date</label>
                                 <input type="date" min="{{today | date : 'yyyy-MM-dd'}}" ng-model="note.tempdate"/>
                               </md-input-container>
                        </md-menu-item>
                        <md-menu-item>
                            <md-input-container>
                            <labe style="font-size: small">Enter Time</labe>

                            <input list="timelist" ng-model="note.remindertime" /></label>
                            <datalist id="timelist">
                              <option ng-repeat="time in addTime" value="{{time.value}}">{{time.name}}</option>
                            </datalist>
                            </md-input-container>
                        </md-menu-item>
                        <md-menu-item>
                            <div layout="row" layout-align="end end">
                              <input type="button"  value="Save"  ng-click="ReminderDate(note)">
                            </div>
                       </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-item>
            <md-menu-item>
                <md-button class="md-button">
                    <span><md-icon><i class="material-icons">place</i></md-icon></span>
                    Pick place
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>

    <md-button aria-label="Collaboators" ng-click="showCollaboatorsDialog($event,note)" class="md-icon-button" style="padding: 0px;margin: 0 auto;">
        <md-icon><i class="material-icons">person_add</i></md-icon>
        <md-tooltip>Collaboators</md-tooltip>
    </md-button>

    <md-menu>
            <md-button aria-label="Colors" class="md-icon-button"  style="margin: 0 auto;padding: 0px" ng-mouseenter="$mdMenu.open()">
            <md-icon><i class="material-icons">palette</i></md-icon>
        </md-button>
        <md-menu-content  ng-mouseleave="$mdMenu.close()">
            <md-menu-item ng-repeat="item in colors">
                <md-button ng-repeat="obj in item" style="background-color: {{obj.value}};border-radius: 50%;" ng-click="changeNoteColor(obj.value,note);" class="md-icon-button" >
                 </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>

    <md-button class="md-icon-button" style="margin: 0 auto;padding: 0px;">
        <input type="file"  class="hide-file"  ng-click="imageSelect($event,note);">
        <md-icon><i class="material-icons" id="icon">image</i></md-icon>
        <md-tooltip>Add image</md-tooltip>
    </md-button>

    <md-button ng-click="isArchivedNote(note)" aria-label="Archive" class="md-icon-button" style="margin: 0 auto;padding: 0px">
        <md-icon><i class="material-icons">archive</i></md-icon>
        <md-tooltip>Archive</md-tooltip>
    </md-button>

    <md-menu>
        <md-button aria-label="More" class="md-icon-button" style="margin: 0 auto;padding: 0px" ng-click="openMenu($mdMenu,$event)">
            <md-icon><i class="material-icons">more_vert</i></md-icon>
        </md-button>
        <md-menu-content  ng-click="closeMenu($mdMenu,$event)">
            <md-menu-item ng-repeat="item in more" >
                <md-button ng-click="performAction(item,note);">
                    <span md-menu-align-target>{{item}}</span>
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>



<!--
<div layout="row" ng-show="note.editable" class="reminder-card" layout-align="center end">

        <md-content>
            <md-list>
                <md-list-item class="md-3-line">
                    <img src="asset/profile.jpg"  class="profile-card-img" alt="profile" />
                    <div class="md-list-item-text" style="text-align: justify-all" layout="column" layout-align="space-around end">
                        <div layout="row" class="profile-name">{{value.iss}}</div>
                        <div layout="row" class="profile-email">{{value.sub}}</div>
                        <div layout="row">
                            <a ui-sref="google.com" class="google" target="_blank" style="margin-right: 5px">Google+ Profile</a>
                            <span aria-hidden="true">–</span>
                            <a ui-sref="#"  class="google" target="_blank">Privacy</a>
                        </div>
                        <button class="profile-button">Fundoo Account</button>

                    </div>
                </md-list-item>
                <br>
                <md-divider ></md-divider>
                <div layout="row"  layout-xs="row">
                    <md-button ng-click="sendToLogin()" class="add-btn">Add account</md-button>
                    <span flex></span>
                    <md-button ng-click="sendToLogin()" class="sign-out-btn" >Sign out</md-button>
                </div>
            </md-list>
        </md-content>

</div>
-->

