<div layout="column" ng-cloak>
    <md-toolbar  class="md-toolbar-tools" style="background-color: #ffbb00" id="toolbar">

        <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="sidebar">
           <md-icon><i class="material-icons" style="color: #444444">menu</i> </md-icon>
        </md-button>

        <span class="navbar-logo-text1">Google</span> <span class="navbar-logo-text2">Keep</span>
        <span flex="5"></span>

        <div class="search">
            <md-button class="md-icon-button">

               <md-icon><i class="material-icons" style="color: #444444">search</i></md-icon>
            </md-button>
            <span>
                <input type="search" class="input-serach" width="400px" height="30px" placeholder="Search" name="search"/>
            </span>
            <md-button class="md-icon-button">

                    <md-icon><i class="material-icons" style="color: #444444">close</i></md-icon>
                   </md-button>
        </div>
          <span flex="5"></span>
        <md-button class="md-icon-button"> <md-icon><i class="material-icons" style="color: #444444">refresh</i></md-icon></md-button>
        <md-button class="md-icon-button"><md-icon><i class="material-icons" style="color: #444444">view_list</i></md-icon></md-button>

        <md-button class="md-icon-button"><md-icon><i class="material-icons" style="color: #444444">apps</i></md-icon></md-button>
        <md-button class="md-icon-button"><md-icon><i class="material-icons" style="color: #444444">notifications_none</i></md-icon></md-button>


    </md-toolbar>
</div>
