<md-dialog aria-label="Note" style="background-color:{{noteInfo.color}}">
       <md-dialog-content>
           <div style="position: relative;">
               <img ng-click="showImageDialog($event,noteInfo)" ng-src={{noteInfo.imageUrl}} style="width: 100%;"  class="md-card-image">
               <md-button class="md-icon-button btn"  ng-if="noteInfo.imageUrl!==null && noteInfo.pined===false" ng-click="isPinnedNote(noteInfo);">
                   <md-icon style="width: 5px;height: 5px;"  md-svg-icon="asset/pin.svg" ></md-icon>
               </md-button>
               <md-button aria-label="Pined Button" ng-if="noteInfo.imageUrl!==null && noteInfo.pined===true" class="md-icon-button btn" ng-click="isPinnedNote(noteInfo);">
                   <md-icon   md-svg-icon="asset/bluePin.svg" ></md-icon>
               </md-button>

               <md-button aria-label="delete Button"  class="md-icon-button deletebtn" ng-if="noteInfo.imageUrl!==null" ng-click="removeImage(noteInfo)">
                   <md-icon><i class="material-icons" style="color: white">delete</i></md-icon>
               </md-button>
           </div>

           <div class="md-dialog-content">
                <div layout="row"  class="take-note-div1"  layout-align="top center">
                    <div ng-model="noteInfo.title" class="title" placeholder="Title" contenteditable="true" only-text="true" convert-new-lines="true"></div>

                    <span flex></span>
                    <md-button class="md-icon-button" ng-if="noteInfo.imageUrl===null && noteInfo.pined===false" ng-click="isPinnedNote(noteInfo);">
                        <md-icon style="width: 5px;height: 5px;"  md-svg-icon="asset/pin.svg" ></md-icon>
                    </md-button>
                    <md-button aria-label="Pined Button" ng-if="noteInfo.imageUrl===null && noteInfo.pined===true" class="md-icon-button" ng-click="isPinnedNote(noteInfo);">
                        <md-icon   md-svg-icon="asset/bluePin.svg" ></md-icon>
                    </md-button>

                </div>

                <div layout="row" class="take-note-div2"  layout-align="top center">
                    <div ng-model="noteInfo.description" class="description" placeholder="Note" contenteditable="true" only-text="true" convert-new-lines="true"></div>
                </div>
               <br>
               <div  layout="row" layout-wrap layout-align="start space-around">
                   <md-chips style="background-color: rgba(0,0,0,0.08);border-radius: 2px;" ng-mouseover="enableEdit(noteInfo)"  ng-mouseleave="disableEdit(noteInfo)">
                       <md-chip style="margin: 0px auto;padding: 0px;"><span style="margin-left: 5px;">{{noteInfo.reminderDate | date : 'MMM dd,HH:mm a'}}</span><md-button  ng-show="note.reminder && note.reminderDate!==null"  class="md-icon-button" ng-click="removeReminder(note,$event)" style="margin: 0px auto;padding: 0px;"><md-icon><i class="material-icons">close</i></md-icon></md-button ></md-chip>
                   </md-chips>

                   <md-chips  ng-mouseover="enableEdit(label)"  ng-mouseleave="disableEdit(label)" ng-repeat="label in noteInfo.listOfLabels">
                       <md-chip  style="margin:0px auto;padding: 0px;">
                           <button ng-click="sendToLabel(label,$event)" style=" border:none;outline:none;border-radius: 50%;">{{label.labelName}}</button>
                           <md-button ng-show="label.editable" class="md-icon-button" ng-click="removeLabel(label,note,$event)" style="margin: 0px auto;padding: 0px;">
                            <md-icon><i class="material-icons">close</i></md-icon>
                           </md-button>
                       </md-chip>
                   </md-chips>
               </div>
               <div layout="row" layout-align="start space-between"  ng-if="noteInfo.collaboratedUser">
                   <div ng-repeat="collaborator in noteInfo.collaboratedUser" style="margin-left:2px;" ng-click="showCollaboatorsDialog($event,noteInfo);" >
                       <div class="profile"><img  style="width: 40px;height: 72px;" ng-src="{{collaborator.profilePic}}" /></div>
                       <md-tooltip>{{collaborator.email}}</md-tooltip>
                   </div>
               </div>
               <div layout="row" layout-align="space-between end"  class="take-note-div3">
                    <updatenoteicon></updatenoteicon>
                    <md-button class="take-note-button"  ng-click="cancel();updateNote(noteInfo);">
                        <strong>Close</strong>
                    </md-button>
                </div>
            </div>
        </md-dialog-content>
</md-dialog>

