
<md-sidenav style="margin-top: 65px;width: 283px;position: fixed;"  id="sidebar" class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">
  <md-content style="background-color: #e8e8e8">
    <md-list>
      <md-list-item ng-click="sendToNotes();" ng-click="null">
        <div layout="row" class="sidebar-text">
          <md-icon  md-svg-icon="asset/notes.svg"></md-icon>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <p>Notes</p>
        </div>
      </md-list-item>
      <md-list-item ng-click="sendToReminders();" ng-click="null">
        <div layout="row" class="sidebar-text">
          <md-icon md-svg-icon="asset/reminders.svg"></md-icon>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <p>Reminders</p>
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-subheader  style="background-color: #e8e8e8;color: black"><b>Labels</b>
        <md-button ng-click="showLabelDialog($event)"  style="margin-left: 80px;" class="md-button" >Edit</md-button>
      </md-subheader>
      <md-list-item ng-click="sendToLabel(label)" ng-repeat="label in label_info" ng-click="null">
            <div  layout="row" layout-align="start" >
                <md-button style="margin: 0px auto;padding: 0px 0px" class="md-icon-button md-icon md-icon-left">
                    <md-icon><i class="material-icons">label</i></md-icon>
                </md-button>
              <span flex>&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <span>{{label.labelName}}</span>
            </div>
        </md-list-item>


      <md-list-item ng-click="showLabelDialog($event)" ng-click="null">
        <div layout="row" class="sidebar-text">
          <md-icon ng-click=""><i class="material-icons">add</i></md-icon>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <p>Create new label</p>
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item ng-click="sendToArchive();" ng-click="null">
        <div layout="row" class="sidebar-text">
          <md-icon ><i class="material-icons"> archive</i></md-icon>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <p>Archive</p>
        </div>
      </md-list-item>
      <md-list-item ng-click="sendToTrash();" ng-click="null">
        <div layout="row" class="sidebar-text">
         <md-icon  md-svg-icon="asset/trash.svg"></md-icon>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <p>Trash</p>
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item ng-click="null">
        <div layout="row" class="sidebar-text">
          <md-icon><i class="material-icons"> settings</i></md-icon>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <p>Settings</p>
        </div>
      </md-list-item>

      <md-list-item ng-click="null">
        <div layout="row" class="sidebar-text">
          <md-icon><i class="material-icons"> feedback</i></md-icon>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <p>Send feedback</p>
        </div>
      </md-list-item>

      <md-list-item ng-click="null">
        <div layout="row" class="sidebar-text">
          <md-icon><i class="material-icons"> help</i></md-icon>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <p>Help</p>
        </div>
      </md-list-item>

      <md-list-item ng-click="null">
        <div layout="row" class="sidebar-text">
          <md-icon><i class="material-icons"> keyboard</i></md-icon>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <p>Keyboard shortcuts</p>
        </div>
      </md-list-item>
      <md-list-item ng-click="null">
        <div layout="row" class="sidebar-text">

        </div>
      </md-list-item>
    </md-list>
  </md-content>
</md-sidenav>

