<md-button aria-label="Remind Me"  class="md-icon-button">
    <md-icon><i class="material-icons">touch_app</i></md-icon>
    <md-tooltip>Remind Me</md-tooltip>
</md-button>

<md-button aria-label="Collaboators" class="md-icon-button">
    <md-icon><i class="material-icons">person_add</i></md-icon>
    <md-tooltip>Collaboators</md-tooltip>
</md-button>

<md-menu>
    <md-button aria-label="Colors" class="md-icon-button" style="margin: 0 auto;" ng-mouseenter="$mdMenu.open()">
        <md-icon><i class="material-icons">palette</i></md-icon>
        <md-tooltip>Colours</md-tooltip>
    </md-button>
    <md-menu-content ng-mouseleave="$mdMenu.close()">
        <md-menu-item ng-repeat="item in colors">
            <md-button style=";background-color: {{t1.value}};border-radius: 50%;" ng-click="changeInitialColor(t1.value);" class="md-icon-button" ng-repeat="t1 in item">
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>

<md-button aria-label="Image"  class="md-icon-button">
    <md-icon><i class="material-icons">image</i></md-icon>
    <md-tooltip>Add image</md-tooltip>
</md-button>

<md-button aria-label="Archive" class="md-icon-button">
    <md-icon><i class="material-icons">archive</i></md-icon>
    <md-tooltip>Archive</md-tooltip>
</md-button>

<md-menu>
    <md-button aria-label="More" style="margin: 0 auto;" class="md-icon-button"  ng-mouseenter="$mdMenu.open($event)">
        <md-icon><i class="material-icons">more_vert</i></md-icon>
        <md-tooltip>More</md-tooltip>
    </md-button>
    <md-menu-content width="1">
        <md-menu-item ng-repeat="item in takenotemore">
            <md-button >
                <span md-menu-align-target>{{item}}</span>
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>

<md-button aria-label="Redo" class="md-icon-button">
    <md-icon><i class="material-icons">redo</i></md-icon>
    <md-tooltip>Redo</md-tooltip>
</md-button>

<md-button aria-label="Undo" class="md-icon-button">
    <md-icon><i class="material-icons">undo</i></md-icon>
    <md-tooltip>Undo</md-tooltip>
</md-button>