<div ng-show="note.editable" layout="row">

    <md-menu>
        <md-button aria-label="More" class="md-icon-button"  ng-click="openMenu($mdMenu,$event)">
            <md-icon><i class="material-icons">more_vert</i></md-icon>
        </md-button>
        <md-menu-content  ng-click="closeMenu($mdMenu,$event)">
            <md-menu-item ng-repeat="item in trashmore" >
                <md-button ng-click="isDeleteNote(item,note);">
                    <span>{{item}}</span>
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>

